@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; 
}


.navbar {
    background-color: #ffffff !important;
    box-shadow: 0 2px 4px rgba(63, 194, 255, 0.1);
}

.navbar-brand {
    font-weight: 600; /* Texto del logo más grueso */
    color: #396796 !important; /* Color oscuro para el logo */
}

.nav-link {
    color: #6c757d !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #000000 !important;
}

.nav-link.active {
    font-weight: 600; 
    color: #0d6efd !important;
}

/* Estilos para el encabezado (Header) */
header.bg-primary {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1549298916-f52d72811227');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header h1 {
    font-weight: 600;
}

.card {
    border: none; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(93, 190, 255, 0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    object-fit: cover;
}

.card-title {
    font-weight: 600;
    color: #343a40;
}

.card-text {
    color: #6c757d;
}

.btn-primary {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.btn-primary:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}

footer {
    background-color: #bedeff !important;
    color: #ffffff;
}

.oo{
    background-color: #6DAEDB;
}

.oo:hover{
    background-color:#2892D7;
}