body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-primary {
  background-color: #bbdcff !important;
}

.btn-primary {
  background-color: #7fb7f3;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #173753;
  border-color: #6daedb;
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1.2em;
}

.form-group select,
.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--color-secundario);
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 1em;
}

.oo {
  background-color: #9ba2ff;
}

.oo:hover {
  background-color: rgb(83, 147, 199);
}
.ii {
  background-color: #1b4353;
}
